.content-header > .breadcrumb {
    float: none;
    background: #DDD;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 13px;
    padding: 7px 15px;
    position: initial;
    top: initial;
    right: initial;
    border-radius: 4px;
}
.content-header > .breadcrumb > li + li:before {
    color: #AAA;
    content: "»";
}
.alert-warning, .alert-success, .label-success, .label-warning, .alert-danger, .label-danger, .alert-info
, .label-info {
    background-image: none !important;
}

#content-dashboard .panel.tabed {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#content-dashboard .panel.pilled {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#content-dashboard .panel.pilled .panel-heading{
    border-radius: 0;
}
#content-dashboard .panel.tabed .nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.panel-success .panel-footer {
    background-image: -webkit-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);
    background-image: -o-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#d0e9c6));
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6'
, GradientType=0);
    background-repeat: repeat-x;
    border-color: #d6e9c6;
    text-align: right;
}
.panel-success .panel-body .tab-pane .form-group label{
    margin-left: 5px;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus, .nav-pills > li.active > a, .nav-pills
 > li.active > a:hover, .nav-pills > li.active > a:focus {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-left: 1px solid #d6e9c6;
    border-right: 1px solid #d6e9c6;
}

.box.box-solid.box-success {
    border: 1px solid #d6e9c6;
    box-shadow: none;
}
.box.box-solid.box-success > .box-header{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.box.box-solid.box-success .box-footer{
    border-color: #d6e9c6;
    background-color: #dff0d8;
    text-align: right;
}
.box.box-solid.box-success > .box-header .btn {
    color: #fff;
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641'
, GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}
.box.box-solid.box-success > .box-header .btn:hover {
    background-color: #008d4c;
    background-position: 0 -30px;
}
.box-footer {
    text-align: right;
}
#content-dashboard form .alert {
    padding: 10px 15px;
    opacity: 0.7;
    color: #000 !important;
    display: none;
}

#content-dashboard .overlay {
    display: none;
}

#content-dashboard .table th{
    text-align: center;
}
#content-dashboard .table td.action{
    text-align: center;
}

#config-form{
    padding: 10px;
}
#config-form .box-footer{
    border-top-color: #ddd;
}
textarea.noresize{
    resize: none;
}
label small{
    font-weight: normal;
}
.form-control, select{
    background-color: #F4F4F4;
    border-radius: 3px;
}
.link {
    cursor:pointer
}
.fa-spin {
    -webkit-animation: fa-spin 0.5s infinite linear !important;
    animation: fa-spin 0.5s infinite linear !important;
}
#businessCvsNotifications, #cvsNotifications{
    display: none;
}
#businessCvsNotifications .table-log, #cvsNotifications .table-log{
    max-height: 300px;
    overflow-y: auto;
}
.btn-app-group{
    padding-left: 15px;
}
.btn-app-group .dropdown-toggle{
    min-width: 26px;
    background-image: none;
}
.btn-app-group .dropdown-menu{
    top: 60px;
    left: 15px;
    background-color: #f4f4f4;
    border-color: #ddd;
}
.btn-app-group .dropdown-menu li a{
    color: #333 !important;
}
.disabled{
    opacity: 0.5;
}
.fa.fa-color-info{
    color: #3c8dbc !important;
}
.fa.fa-color-danger{
    color: #dd4b39 !important;
}

.wc-img-cnt .wc-img-responsive{
    max-width: 400px;
    max-height: 250px;
    margin-bottom: 10px;
}
.wc-img-cnt .wc-img-options{
    display: none;
}
.wc-select{
    max-width: 400px;
}
.admin-nav-tabs{
    display: none;
}
.btn-admin-nt{
    margin-left: 10px;
}
.tab-pane .ats-biz-data{
    display: none;
    padding-left: 5px;
}